.leftSidebar{
    height: calc(100vh);
    border-radius: 0 !important;
}

.linkSideNav{
    color: #131522 !important;
}

.linkSideNav:hover{
    color: white !important;
}

.toggleTop{
    border-radius: 0 !important;
    box-shadow: none !important;
}

.toggleTop:hover{
    color: white !;
    background-color: transparent !important;
}

/* .btnClose{
    font-size: 1.2rem;
}

.btnClose:hover{
    background-color: white !important;
    color: #131522 !important;
} */