@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.bg-login {
    background-color: #131522;
    height: 100vh;
}

#title {
    font-family: 'Michroma', sans-serif, 'Roboto';
    font-size: 72px;
    color: #E5E5E5;
    text-align: center;
}

#a-forgetpass {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFC700;
    font-weight: 1000;
    margin-bottom: 5%;
    text-align: end;
    display: block;
    
}

#btn-login {
    width: 100%;
    margin-bottom: 5%;
    text-decoration: none;
    color: #131522;
    background-color: #FFC700;
    font-weight: 1000;
}

#a-register {
    text-align: center;
    display: block;
    color: #E5E5E5;
    text-decoration: none;
}

.textfield-login {
    background-color: #E5E5E5;
    width: 100%;
    margin-bottom: 5% !important;
}

.grid-loginform {
    position: absolute;
    margin-top: 30% !important;
}